@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  --Linear-gradient-input: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --error: hsl(0, 100%, 66%);
  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

.content__left {
  padding: 32px 16px 51px 73px;
  background-image: url("./images/bg-main-mobile.png");
  background-size: cover;
  color: white;
}

.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Card Back */
.card__back,
.card__front {
  max-width: 286px;
  height: 157px;
  position: relative;
}

.card__back img,
.card__front img {
  width: 100%;
  height: 100%;
}

.cvv {
  position: absolute;
  top: 46%;
  right: 12%;
  z-index: 1;
  color: #fff;
  font-size: 9px;
}

/* Cards front */
.card__front {
  position: absolute;
  top: 57%;
  left: -3em;
}

.card__front-content {
  position: relative;
  width: 100%;
}

.holder__info {
  position: absolute;
  bottom: 15%;
  left: 7%;
}

.card__numbers {
  letter-spacing: 2.2px;
  line-height: normal;
  margin-bottom: 17px;
}

.card__info {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
}

/* Card Circles */

.card__front-decoration {
  position: absolute;
  left: 5%;
  top: 10%;
  z-index: 2;
  display: flex;
  gap: 10px;
  align-items: center;
}

.circle__big {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  background-color: white;
}

.circle__small {
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  border: 1px solid white;
}

/* Section Right */

input {
  font-size: 18px;
  border-radius: 8px;
}
.content-right {
  margin: 91px 24px 45px;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 3px;
}

label {
  color: var(--Very-dark-violet);
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

input {
  outline: none;
  border: 1px solid var(--Light-grayish-violet);
}

.input {
  width: 100%;
  height: 3em;
  padding: 9px 16px;
  border-radius: 8px;
}

input::placeholder {
  font-size: 18px;
  opacity: 0.25;
  color: #21092f;
}

.input__container-small {
  display: flex;
  gap: 11px;
}

.inputs__left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputs {
  display: flex;
  gap: 5px;
}

.small-input {
  width: 72px;
  height: 45px;
  padding: 9px 16px;
}

.inputs__right {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#cvc {
  width: 164px;
  height: 45px;
}

.btn {
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 53px;
  background-color: black;
  color: #fff;
}
